<h1>New List</h1>

<%= form_with model: @list, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit "Create List", class: "btn btn-success" %>
<% end %>
